<nav class="navbar navbar-dark fixed-top" data-bs-theme="dark" style="background-color: rgb(170,0,255);  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://apnahostel-website--anujsrivastava9.repl.co/static/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      ApnaHostel</a>
    <div class="grid gap-2 md-flex justify-content-md-end">
    <a class="btn btn-primary me-md-2" href="/SignIn" role="button">
      Sign In</a>
    </div>
  </div>
</nav>